* {
    margin: 0;
} 

body {
    font-family: Helvetica, Arial, sans-serif;
    background: #f6f6f6;
}

.wrapper {
    width: 850px;
    margin: 0 auto;
}

.wrapper__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 280px;
    grid-template-columns: 1fr 280px;
        grid-template-areas: 
        "content sideBar";
}

.wrapper__header_save {
    -ms-grid-column-align: end;
        justify-self: end;
    color: #bd4664;
}

a {
    text-decoration: none;
}

.content__data {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: content;
} 

.content__side-Bar {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: sideBar;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5em;
}

.side-Bar__avatar_ed {
    width: 250px;
    height: 320px;
    padding: 0.5em;
    background: white;  
}

.side-Bar__avatar_edit {
    display: none;
    background:#171718;
    opacity: 0.6;
    text-align: end;
    width:247px;
    position: absolute;
    bottom: 12px;
    right: 9px;
}

.pointer-pen {
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 22px;
    resize: none;
}